@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

img {
    height: 180px;
}

button {
    background-color: #c51111;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    width: 180px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: white;
    color: #c51111;
}

button:active {
    opacity: 0.6;
}

.img-mario {
    height: 450px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px;
    justify-content: space-around;
    
}

div p {
    width: 70%;
    padding: 10px 0;
    color: white;
    font-size: 14px;
   
}

.main-p {
    line-height: 20px;
}

.container-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
}    

.mask {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

a img {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}


.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header img {
    height: 60px;
    margin: 10px 0px 0 20px;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.header a:hover {
    color: #c51111;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}


form {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -310px;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    transition: left 1s ease-in-out;
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
}

textarea {
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
    height: 100px;
    width: 270px;
}

.form-button {
    width: 100%;
}

.form-button:hover {
    background-color: #c51111;
    color: white;
    opacity: 0.8;
}

.mask-form {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    visibility: hidden;
    transition: visibility 1s ease-in-out;
}

@media screen and (max-width: 1100px) {
    p {
        display: none;
    }

    .container {
        width: 100vw;
        height: 80vw;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .caixa-mae {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .container button {
        margin-top: 30px;
    }

    .img-mario {
        width: 80vw;
        height: auto;
    }

    .header {
        margin: 30px ;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

   

    .header img {
        display: none;
    }

    


}
    


